<p style="color: green"><%= notice %></p>

<%= render @rock_band %>

<div>
  <%= link_to "Edit this rock band", edit_rock_band_path(@rock_band) %> |
  <%= link_to "Back to rock bands", rock_bands_path %>

  <%= button_to "Destroy this rock band", @rock_band, method: :delete %>
</div>
